<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


 <section id="idOffers">
        <div class="offers">
          <div class="destination uno">
            <img src="./images/Mykonos.jpg" alt="" class="image">
            <div>Save</div>
            <div class="price">$6665</div>
            <div>Mykonos</div>
          </div>
          <div class="destination dos">
            <img src="./images/Mykonos.jpg" alt="" class="image">
            <div>Save</div>
            <div>$6665</div>
            <div>Mykonos</div>
          </div>
          <div class="destination tres">
            <img src="./images/Mykonos.jpg" alt="" class="image">
            <div>Save</div>
            <div>$6665</div>
            <div>Mykonos</div>
          </div>
          <div class="destination cuatro">
            <img src="./images/Mykonos.jpg" alt="" class="image">
            <div>Save</div>
            <div>$6665</div>
            <div>Mykonos</div>
          </div>
          <div class="destination cinco">
            <img src="./images/Mykonos.jpg" alt="" class="image">
            <div>Save</div>
            <div>$6665</div>
            <div>Mykonos</div>
          </div>
          <div class="destination seis">
            <img src="./images/Mykonos.jpg" alt="" class="image">
            <div>Save</div>
            <div>$6665</div>
            <div>Mykonos</div>
          </div>
        </div>
      </section>

      <section>
        <div>
          <img src="./images/fixedImg.jpg" alt="" srcset="">
        </div>
        <h1>Quien somos</h1>
        <div>
          GeeksHubs travel es una agencia de viajes online creada en 2009 por un equipo de viajeros entusiastas que deciden hacer de su pasión por conocer el mundo un modo de vida. Desde nuestros inicion hemos deseñado más de 500 viajes organizados a destintos destinos de Europa, Norteamerica y Asia. Nuestro objetivo ahora es ir ampliando horizontes poco a poco.
        </div>
        <button type="submit">Descubrir</button>
      </section>

      <section>
        <iframe width="90%" height="500px" src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=Moll%20de%20Ponent%20-%20Base%202%20(Edificio%20Innsomnia%2C%2046024%20Valencia+(GeeksHubs%20Travels)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
        <a href="https://www.mapsdirections.info/calcular-ruta.html">mapas y direcciones</a>
        </iframe>

        <div>
          <div>E: enquiry@artiotravel.com</div>
          <div>P: 0264 123 4567</div>
          <div>Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.
          </div>
          <div>
            We are open from 8.30 AM - 4.00 PM week days.
          </div>
          <b class="blue-line"></b>

          <div class="form">
            <input type="text" placeholder="Name*">
            <input type="email" placeholder="Email*">
            <input type="text"placeholder="Phone">
            <input type="text" placeholder="Country" >

            <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <div>*please complete all fields correctly</div>
            <button type="submit">Enviar Mensaje</button>
          </div>
        </div>
      </section>