<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js" async ></script>
  </head>
  <body>
      
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
          <a class="home" href="/"><img class="navbar-brand iconWeb" src="/images/iconoweb.png" alt="iconWeb"><p>GeeksHubs Travel</p></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse navBarMenu" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#destinos">Destinos</a>
                <a class="nav-item nav-link" href="#about">Quién somos</a>
                <a class="nav-item nav-link" href="#ubi">Donde estamos</a>
              <div class="btns">
                <a class="btn btn-outline-primary" href="http://localhost:3000/register" role="button">Únete ahora</a>
                <a class="btn btn-outline-success" href="http://localhost:3000/login" role="button">Sign In</a> 
              </div>
            </div>
          </div>

          {{!-- <div class="socialLinks navbar-nav">
            <a class="nav-item nav-link login" href="/login"><img src="/images/user.png" alt="login"></a>
          </div> --}}

        </nav>

      


      {{{body}}}


      <footer>
        <div class="footerBox">
            <div class= "ayuda">
              <h3>¿Necesitas Ayuda?</h3>
              <p>0264 123 4567</p>
              <p>enquiry@geekshubstravel.com</p>
              <p>Lun-Vie 9:30 - 19:00 Sab: 10:00-14:00</p>
            </div>

            <div class = "informacion">
              <h3>Información</h3>
              <p>Quien somos</p>
              <p>Preguntas Frecuentes</p>
              <p>Politica de Privacidad</p>
              <p>Condiciones Generales</p>
              <p>Aviso Legal</p>
              <p>Contacto</p>
              <p>Programa de Puntos</p>
            </div>

            <div class = "suscribete">
              <h3>Suscribete a la Newsletter</h3>
              <input type="email" placeholder="Correo">
              <button>Suscribete</button>
              <div class="icons">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-whatsapp"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
              </div>
            </div>

        </div>

        <div class="copyright">
          <div>GeeksHubs Travels 2019 Todos los derechos reservados</div>
        </div>
      </footer>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
