<div class="inputDiv">
    <form action="/users/login" method="post" class = "form">
        <div>Login</div>
        <input type="email" name = "email" placeholder="Usuario o Email" required><br>
        <input class = "password" name = "password" type="text" placeholder = "Contraseña" required><br>
        <input type="submit" value="Enviar">
        <button class="signIn">¿No recuerdas tu contraseña?</button>
    </form>
</div>