{{!-- <header>
    <img src="./images/airport.jpg" alt="" class="headerImg">
</header> --}}

<div class="inputDiv">
    <form action="/users/signup" method="post" class = "form">
        <div>Registro</div>
        <button class="signIn" onclick="location.href='http://localhost:3000/login'">¿Ya estas registrado?</button>
        <input type="text" name = "usuario" placeholder="Usuario" required><br>
        <input type="email" name = "email" placeholder="Email" required><br>
        <input class = "password" name = "password" type="password" placeholder = "Contraseña" required><br>
        <input type="password" class = "repeat-password" name = "repeat-password" placeholder="Repetir Contraseña" required><br>
        <div class="checkBox">
        <input type="checkbox" name="terms" id="terms" required>
        <label for="terms">Acepto los términos y condiciones, asi como la politica de privacidad</label><br>
        </div>
        {{!-- <button type="submit">Enviar</button> --}}
        <input type="submit" value="Enviar">
    </form>
</div>