body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.headerImg{
  height: auto;
  width: 100%;
  position: absolute;
}

.headerWords{
  position: relative;
  top: 50vmax;
  left: 50vmax;
}

.offers{
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr 0.25 fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
}